---
title: Grange - Projects
---

<div class="container">
  <main>
    <section class="introduction">
      <h1 class='title'>Grange & Company</h1>
      <p>
        Grange is the Design-Make-Build studio practice of <span class="hightlight">Célia Beauchamp</span> and <span class="highlight">Nikolas Wise</span>. Grange evolved out of the desire to create good design that improves the spaces and communities we live in.
      </p>
      <p>
        Furniture. Architectural interiors. Graphic. Ephemera. Cultural sustainability.
      </p>
    </section>
  </main>
</div>